.chess-board {
    width: 450px;
    height: 450px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px #333;
    background-color: rgb(16, 233, 204);
    overflow: hidden;

    .chess-grid {
        width: 29px;
        height: 29px;
        float: left;
        border: 0.5px solid black;
        position: relative;

        .chess-btn {
            position: absolute;
            height: 16px;
            width: 16px;
            border-radius: 100%;
            left: -8px;
            top: -8px;
        }
    }
}

