#chessBoard {
    margin: 100px 0 0 400px;
    /*background: cornflowerblue;*/
}

.operation {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 180px;
    left: 200px;
}

button {
    background: none;
    border: 0.5px solid tan;
    border-radius: 3px;
    outline: none;
}

.buttonStart {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.buttonTop {
    display: block;
    width: 100%;
    margin: 15px 0 15px 0;
}

.buttonMiddle {
    display: inline-block;
    width: 40%;
}
